.movieGrid {
  box-sizing: border-box;
  width: 100%;
}

.movieGrid__title {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.movieGrid__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}